@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.main-categoria{
    font-family: "Inter", sans-serif;
}

.titulo-categoria{
    text-align: center;
    font-size: 1.7vw;
}

.titulo-categoria p{
    margin-top: 0;
}

.titulo-categoria h1{
    margin-bottom: 5px;
}

.categorias{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(590px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 50px;
}

.categoria img{
    max-width:70%;
    width: 80vw;
}

.boton-categoria{
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease;
}

.boton-categoria:hover{
    transform: scale(0.9);
}

.categoria{
    text-align: center;
}
